<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Bank</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div>
        <div class="form-group">
          <label class="control-label"
            >Name (This fieled must be unique) :
          </label>
          <input
            class="form-control"
            type="text"
            name="nameBank"
            [(ngModel)]="bank.nameBank"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Description : </label>
          <input
            class="form-control"
            type="text"
            name="descriptionBank"
            [(ngModel)]="bank.descriptionBank"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Adress : </label>
          <input
            class="form-control"
            type="text"
            name="Adress"
            [(ngModel)]="bank.adresseBank"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Taux Moyen Du Marche : </label>
          <input
            name="tmm"
            class="form-control"
            type="text"
            [(ngModel)]="bank.tauxMoyenDuMarche"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Marge Interet Bank : </label>
          <input
            name="mib"
            class="form-control"
            type="text"
            [(ngModel)]="bank.margeInteretBank"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-gray w-100p mb-1 mr-1"
      (click)="saveBank()"
    >
      Save
    </button>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Bank</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div>
        <div class="form-group">
          <label class="control-label">Name : </label>
          <input
            class="form-control"
            type="text"
            name="Name"
            [(ngModel)]="bank.nameBank"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Description : </label>
          <input
            class="form-control"
            type="text"
            name="Description"
            [(ngModel)]="bank.descriptionBank"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Adress : </label>
          <input
            class="form-control"
            type="text"
            name="Adress"
            [(ngModel)]="bank.adresseBank"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Taux Moyen Du Marche : </label>
          <input
            name="tmm"
            class="form-control"
            type="text"
            [(ngModel)]="bank.tauxMoyenDuMarche"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Marge Interet Bank : </label>
          <input
            name="mib"
            class="form-control"
            type="text"
            [(ngModel)]="bank.margeInteretBank"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="updateBank()">
      Update
    </button>
  </div>
</ng-template>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Bank List</h2>
  </div>

  <div class="row mb-1">
    <div class="col">
      <div class="input-group-append mb-3 box-shadow">
        <div class="input-group-append" *ngIf="userRole === 'Employee'">
          <span
            (click)="open(content)"
            class="input-group-text border-top-0 border-right-0 border-bottom-0"
            ><i class="fa fa-plus"></i
          ></span>
        </div>
        <input
          type="text"
          placeholder="Search Bank..."
          class="form-control border-0"
        />
      </div>
    </div>
  </div>

  <ngx-datatable
    #table
    class="material"
    [headerHeight]="40"
    [limit]="10"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="bk"
    [selectionType]="'checkbox'"
  >
    <ngx-datatable-column
      [width]="30"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="true"
      [resizeable]="false"
      [headerCheckboxable]="false"
      [checkboxable]="false"
    >
    </ngx-datatable-column>
    <ngx-datatable-column name="nameBank">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="descriptionBank">
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
        <span title="Double click to edit">
          {{ value }}
        </span>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Adresse Bank">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Taux Moyen Du Marche">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Marge Interet Bank">
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column *ngIf="userRole === 'Employee'" name="Actions">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        <td class="align-middle">
          <div class="btn-group" role="group">
            <button
              class="btn btn-secondary btn-sm"
              (click)="open2(content2, row)"
            >
              <i class="fa fa-pencil"></i>
            </button>
            <button
              class="btn btn-secondary btn-sm"
              (click)="deleteBank(row.idBank)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
